@model GroceryList.ViewModels.SeeIngredientsViewModel
@{
    <h1 style="text-align:center;">Your Grocery List</h1>
    //TODO -- add x glyphicon that will cross-out the item while you are shopping
    
}

@if (!Model.IsPlanned)
{
    <div style="text-align: center; ">
        <h5>You have no items yet</h5>
    </div>
    <div style="text-align: center; ">
        <h5>Plan your week's meals <a asp-controller="Plan" asp-action="Index">here!</a></h5>
    </div>
    
}

else
{
    <div class="container display-flex">
    <form asp-controller="See" asp-action="RemoveIngredient" method="post">
        <div class="row display-flex" style="margin-top: 15px;  padding-left: 10px; ">
        
            @foreach (var category in Model.Categories)
            {                                                           // border: 1px solid lightgray 
                        <table class="col-sm-4" align="center" style="margin-bottom: 10px; ">
                            <tr>
                                <th colspan="2" style="text-align:center; ">@category.Name</th>
                            </tr>
                            @foreach (Ingredient ingredient in Model.Ingredients)
                            {
                                if (ingredient.CategoryID == category.ID)
                                {
                                    <tr>
                                        <td style="margin-right: 5px;">
                                            @ingredient.Name
                                        </td>
                                        <td>
                                            <input type="checkbox" name="IngredientIDs" value="@ingredient.ID"/>
                                            <span class="glyphicon glyphicon-shopping-cart" ></span>
                                        </td>
                                    </tr>
                                }
                                // TODO -- if there are no ingredients that contain the category ID then display message
                                @*else if (category.)
                                {
                                    <tr>
                                        <td>
                                            You have no ingregients in this section
                                        </td>
                                    </tr>
                                }*@
                            }
                        </table>                  
            }
            </div>
        <div class="row" style="line-height: 10px; "></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: center; padding-top: 15px; ">
            <input style=" text-align:center; " type="submit" value="Remove Ingredients" />
        </div>
        <div class="col-sm-4"></div>
    
    </form>
    </div>
}































@*else
{
    <form asp-controller="See" asp-action="RemoveIngredient" method="post">
        <table align="center" style="margin-bottom: 10px; ">
            @foreach (Ingredient ingredient in Model.Ingredients)
            {
                @if (ingredient.Name != "None" && ingredient.Name != "" && ingredient.Name != null)
                {
                    <tr>
                        <td style="margin-right: 7px;">
                            @ingredient.Name

                        </td>
                        <td style="padding-left: 7px;">
                        
                            <input type="checkbox" name="IngredientIDs" value="@ingredient.ID" />
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                                               
                        </td>
                    </tr>

                }           
            } 
        </table>
        <div style="text-align: center;">
            <input style=" text-align:center; " type="submit" value="Remove Ingredients" />
        </div>
    
    </form>
}
*@